body {
  font-family: sans-serif;
  text-align: center;
}

header {
}

form.code {
}

#left-menu {
  text-align: left;
  position: absolute;
  top:0; left:0;
  background-color:#2c91e9;
  color:#fff;
}
#left-menu .icon {
  fill:#fff;
}
#left-menu .content {
  display: none;
}
#left-menu.expanded .content {
  display: block;
}

form.code .form-group {
  max-width: 20rem;
}
