body {
  font-family: sans-serif;
  text-align: center;
}

header {
}

form.code {
}

.icon svg {
  width: 2rem;
  height: 2rem;
}

#left-menu {
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2c91e9;
  color: #fff;
}
#left-menu .icon {
  fill: #fff;
}
#left-menu .active {
  font-weight: bold;
}
#settings-menu {
  text-align: left;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #2c91e9;
  color: #fff;
}
#settings-menu .icon {
  fill: #fff;
  display: block;
  text-align: right;
}

.expandable .content {
  display: none;
}
.expandable.expanded .content {
  display: block;
}

form.code .form-group {
  max-width: 20rem;
}
